header {
  height: 75px;
  padding: 1rem;
  color: black;
  background: transparent;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  padding: 5px;
}